.flex-container{
    display: flex;
    flex-direction: row;  
    background-color: lightblue;
   // height: 100px;
    padding: 40px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}


@media  (max-width:800px){
.flex-container{
    flex-direction: column;
}
}