<app-header></app-header>
<div class="flex-container">
    <div style="flex-grow: 2;"></div>
    <div style="flex-grow: 8;">
    <!-- <app-progress-bar></app-progress-bar> -->
    <form [formGroup]="login">
        <input type="text" placeholder="Search by status, beneficiary name, amount" formControlName="search" style="margin-bottom: 40px;
        margin-top: 40px;
        padding: 10px;
        border-radius: 5px;
        width: 50%;"> <label style="font-size: 24px;
    font-family: sans-serif;
    padding: 10px;
    color: #04AA6D;" (click)="onSearch()">Search</label>
    </form>
    <app-grid-component [gridOption]="this.gridOption"></app-grid-component>
</div>
    <div style="flex-grow: 2;"></div>

</div>
